.horizontalgrid{
    display: grid;
    grid-template-rows: 90px 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    row-gap: 20px;
    background-color: black;
    padding-bottom: 20px;
    color: white;
    width: 325px;
    box-sizing: border-box;
    margin: auto;
}
.verticalgrid{
    width: 100%;
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.display{
    font-size: 40px;
}
button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    color: white;
    background-color: gray;
}
.plusbutton,.minusbutton,.multiplybutton, .equalbutton, .divbutton{
    background-color: rgb(238, 160, 14);
}