
body{
font-family: Arial, Helvetica, sans-serif;
}
.inputdiv,.innerdiv{
display: grid;
grid-template-columns: 200px 200px 150px;
column-gap: 10px;
margin-bottom: 10px;
}
.innerdiv{
align-items: center;
}
.addbutton{
color: white;
background-color: green;
border: none;
}
.deletebutton{
color: white;
border: none;
background-color: rgb(147, 6, 6);
}
.todoinput,.datebutton,.addbutton,.deletebutton{
padding: 10px;
}
p{
margin: 11px;
}